body {
    background-color: #001f3f;
    color: #f2d7b6;
    font-family: "Story Script", sans-serif;
    height: 100vh; /* Ocupa toda la altura visible */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center;
    line-height: 1.6;
}

h1 {
    font-size: 3em;
    letter-spacing: 0.08em;
    margin-bottom: 0.3em;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-size: 1.1em;
    max-width: 600px;
    margin: 0 auto;
    opacity: 0.9;
}
